@use "/src/styles/main.scss" as *;

.deposit_card {
    width: 100%;
    height: auto;
    padding: toRem(15);
    border: toRem(1) solid $white-2;
    border-radius: toRem(8);
    background-color: $white;
    font-family: $nunito;

    &_plan {
        background-color: $tertiary-orange;
        border: toRem(1) solid $tertiary-orange;
        padding: toRem(10);
        font-size: toRem(18);
        font-weight: 600;
        text-align: center;
        color: $secondary-brown;
    }

    &_deposit {
        background-color: $white;
        color: $black-2;
        padding: toRem(10);
        font-size: toRem(15);
        border-bottom: toRem(1) solid $primary-brown;
        border-left: toRem(1) solid $primary-brown;
        border-right: toRem(1) solid $primary-brown;
    }
}