@use "/src/styles/main.scss" as *;

.hamburger_container {
    @include media("<=tablet") {
        display: block;
    }

    .hamburger_button {
        background-color: transparent;
        
        z-index: 9999;
        display: none;
        &:focus {
            outline: none;
        }
        @include media("<=tablet") {
            display: block;
        }
    }

    .hamburger {
        cursor: pointer;
        width: toRem(24);
        height: toRem(20);
        transition: all 0.25s;
        position: relative;
        background-color: transparent;
      
        &-top,
        &-middle,
        &-bottom {
          position: absolute;
          width: toRem(24);
          height: toRem(2);
          top: 0;
          left: 0;
        //   background-color: $white;
          background-color: $base;
          transform: rotate(0);
          transition: transform 0.2s;
        }
      
        &-middle {
          transform: translateY(5px);
        }
      
        &-bottom {
          transform: translateY(10px);
        }
      
        &.open {
          transform: rotate(90deg);
      
          .hamburger-top {
            transform: rotate(45deg) translateY(6px) translateX(6px);
            background-color: #FFFFFF;
          }
      
          .hamburger-middle {
            display: none;
          }
      
          .hamburger-bottom {
            transform: rotate(-45deg) translateY(6px) translateX(-6px);
            background-color: #FFFFFF;
          }
        }
    }
}
