@use "/src/styles/main.scss" as *;

.confirm_deposit {
    @include flex_col(toRem(10));
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: toRem(8);
    border: toRem(1) solid $white-2;
    font-family: $comfortaa;
    color: $base;

    &_title {
        font-size: toRem(32);
        margin-top: toRem(30);
        font-weight: 700;
        font-family: $nunito;
    }

    &_address {
        font-weight: 700;
        font-size: toRem(18);
    }

    // src/components/Table.scss
.table-container {
    max-width: 100%;
    overflow-x: auto;
    padding: toRem(30);
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: toRem(30);
  
      th, td {
        padding: toRem(20) toRem(20);
        text-align: left;
        border-bottom: toRem(1) solid #ddd;

        

      }

      td {
        max-width: toRem(250);
        text-overflow: clip;
        overflow-x: scroll;

        .actions {
          @include flex(space-between, center, toRem(0));
          &_delete_button {
            padding: toRem(8);
            background-color: $orange-button;
            color: $white;
            border-radius: toRem(3);
            font-size: toRem(14);
            font-weight: 600;
            cursor: pointer;
            width: toRem(70);
          }
          &_approve_button {
            padding: toRem(8);
            background-color: $my_blue;
            color: $white;
            border-radius: toRem(3);
            font-size: toRem(14);
            font-weight: 600;
          flex-shrink: 0;
          margin-left: toRem(10);
            cursor: pointer;

          }

        }
      }

      td:last-child {
        width: toRem(250);
        max-width: toRem(250);
      }
  
      th {
        background-color: #f4f4f4;
        color: #333;
        text-transform: uppercase;
        font-weight: 600;
      }
  
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      tr:hover {
        background-color: #f1f1f1;
      }
    }
  }
}