@use "/src/styles/main.scss" as *;

.withdraw {
    @include flex_col(toRem(20));
    align-items: center;
    width: 100%;
    color: $base;
    font-weight: 500;

    svg {
        color: $base;
    }

    &_intro {
        @include flex(space-between, center, 0px);
        background-color: $white;
        border: toRem(1) solid $white-2;
        border-radius: toRem(8);
        width: 95%;
        height: toRem(120);

        &_left {
            @include flex_col(toRem(20));
            margin-left: toRem(20);

            &_name {
                font-size: toRem(28);
                font-weight: 600;
                color: $third;
            }
            &_dash {
                font-size: toRem(16);
            }
        }

        &_right {
            @include flex_col(toRem(20));
            margin-right: toRem(20);

            &_refferal {
                font-size: toRem(16);
                color: $my-green;
            }
            &_code {
                font-size: toRem(18);
                color: $base;
                align-self: end;
                font-weight: 700
            }
        }
    }

    &_make {
        @include flex(start, center, 0px);
        font-size: toRem(24);
        width: 95%;
        margin: toRem(30) 0px toRem(5) 0px;
    }

}


